#container {
    width:1000px;
    border: 1px solid lightgrey;
    margin: 0 auto;
}

/* header */
#header {
    height: 100px;
    padding: 10px 0px;
}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #747a71;
    text-decoration: none;
    padding-left: 0px;
}

/* Search */
#search {
    float: right;
    background: linear-gradient(#e6d21f, #b3a423);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    background: white url(assets/search.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 6px;
    font-weight: 500;
    color: white;
    background-color: #747a71;
    font-size: 15px;
}

.clear {
    clear: both;
}

/* Menu */
#menu {
    height: 70px;
    background: linear-gradient(#91998d, #747a71);
    padding: 7px  0 0px 0;
}

ul {
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0px 10px;
    padding: 0 35px;
    height: 30px;
    border-right: 1px solid #e6d21f;
} 

.lastChild{
    border-right: none !important;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #e6d21f;
    line-height: 30px;
}

#menu ul li a:hover {
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
